# Setup and initialization blocks

In [ ]:
import requests
import pandas as pd
import os

API_KEY = '0c63e782330f5e58626e87dc01cc7eb2174680c5'

In [ ]:
def cols_to_str(COLS):
    return ','.join(i for i in COLS)
    
def json_to_df(response):
  return pd.DataFrame(response.json()[1:], columns=response.json()[0])

def scrape_range(year,month):
    while year < 2021:
        m = "{:02d}".format(month)
        scrape(f'{year}-{m}')
        month += 1
        if month == 13:
            month=1
            year += 1

In [ ]:
EXPORT_COLS_HS = [
    'YEAR',
    'MONTH',
    'CTY_CODE',
    'CTY_NAME',
    'QTY_1_MO',
    'E_COMMODITY',
    'UNIT_QY1',
    'ALL_VAL_MO',
    'DISTRICT',
    'DIST_NAME'
]

EXPORT_COLS_PORTHS = [
    'YEAR',
    'MONTH',
    'PORT',
    'PORT_NAME',
    'CTY_CODE',
    'E_COMMODITY',
]

# User settings input

In [ ]:
ENDPOINT = 'hs' # Choose from hs or porths
TIME = '2020-01' # Put date to scrape here, format YYYY-MM

Run this to scrape data:

In [ ]:
if ENDPOINT == 'hs':
      EX_COL_STR = cols_to_str(EXPORT_COLS_HS)
elif ENDPOINT == 'porths':
      EX_COL_STR = cols_to_str(EXPORT_COLS_PORTHS)
EXPORT_URL = f'https://api.census.gov/data/timeseries/intltrade/exports/{ENDPOINT}?get={EX_COL_STR}&key={API_KEY}&time={TIME}'
response = requests.request("GET", EXPORT_URL)
df = json_to_df(response)
response.close()

Show resulting dataframe

In [ ]:
df

,YEAR,MONTH,CTY_CODE,CTY_NAME,QTY_1_MO,E_COMMODITY,UNIT_QY1,ALL_VAL_MO,DISTRICT,DIST_NAME,time
0,2020,01,2831,GUADELOUPE,0,843120,-,2954,20,"NEW ORLEANS, LA",2020-01
1,2020,01,2831,GUADELOUPE,0,843120,-,2954,-,TOTAL FOR ALL DISTRICTS,2020-01
2,2020,01,2487,ST LUCIA,0,843120,-,20039,-,TOTAL FOR ALL DISTRICTS,2020-01
3,2020,01,2487,ST LUCIA,0,843120,-,20039,52,"MIAMI, FL",2020-01
4,2020,01,2484,ANTIGUA AND BARBUDA,34,4011908000,NO,8504,52,"MIAMI, FL",2020-01
...,...,...,...,...,...,...,...,...,...,...,...
3189646,2020,01,0025,EURO AREA,532,9705000030,CGM,8550,31,"ANCHORAGE, AK",2020-01
3189647,2020,01,5820,HONG KONG,2003,9705000030,CGM,77359,31,"ANCHORAGE, AK",2020-01
3189648,2020,01,0025,EURO AREA,55258,9705000030,CGM,821788,41,"CLEVELAND, OH",2020-01
3189649,2020,01,5820,HONG KONG,4149,9705000030,CGM,200428,41,"CLEVELAND, OH",2020-01
3189650,2020,01,0025,EURO AREA,821,9705000030,CGM,13200,80,MAIL SHIPMENTS,2020-01

Download dataframe as CSV

In [ ]:
from google.colab import files
df.to_csv('output.csv', encoding = 'utf-8-sig') 
files.download('output.csv')